body {
    line-height: 1;
    font-family: 'IBM Plex Mono', monospace;
}

table {
    width: 100%;
    table-layout: auto;
    border: 1px solid black;
    padding: 20px;
    border-spacing: 0px;
}
td, th, caption {
    padding-left: 24px;
    line-height: 36px;
    border-bottom: 1px rgba(188, 188, 188, 1) solid;
    text-align: left;
}

tr th:nth-child(1) {
    width: 25%;
}

tr th:nth-child(2) {
    width: 75%;
}


.formHeader {
    padding-left: 8px;
    background-color: rgba(75, 75, 75, 1);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header {
    margin-bottom: 24px;

}

h1 {
    margin-bottom: 8px;
}