body {
    line-height: 1;
    font-family: 'IBM Plex Mono', monospace;
}

.formWrapper {
    border: 1px solid black;
    padding: 20px;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(36, 36px);
    align-items: stretch;
    justify-items: stretch;
}

.formContent {
    padding-left: 24px;
    line-height: 36px;
    border-bottom: 1px rgba(188, 188, 188, 1) solid;
}

.formHeader {
    padding-left: 8px;
    background-color: rgba(75, 75, 75, 1);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

button {
    height: 24x;
    font-size: 14px;
}